/* estilo basico para o fundo sempre ser preto */
body {
    background-color: #000;
    color: white;
    font-family: sans-serif;
    margin: 0;
    text-align: center;
}

/* Logo que brilhar */
#logo {
    font-size: 50px;
    color: #00d9ff;
    text-shadow: 0 0 15px #00d9ff;
    margin-top: 100px;
}

#logo-pequena {
    font-size: 25px;
    color: #00d9ff;
    text-shadow: 0 0 10px #00d9ff;
    padding: 20px;
    text-align: left; /* deixa o nome no cantinho na tela de filmes */
}


#avatar {
    width: 150px;
    height: 150px;
    background-color: #0a0a2e;
    border: 3px solid #00d9ff;
    border-radius: 10px;
    margin: 20px auto;
    box-shadow: 0 0 20px #00d9ff;
    transition: 0.3s;
}

#avatar:hover {
    transform: scale(1.1); /* Aumenta um pouco quando passa o mouse */
}

/* Grade de Filmes */
#grade {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
}



#filme {
    width: 220px;
    height: 125px;
    background-color: #111;
    border: 1px solid #0056b3;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

#filme:hover {
    border-color: #00d9ff;
    box-shadow: 0 0 10px #00d9ff;
}
/* Isso faz com que toda imagem dentro de um 'div filme' se ajuste direitinho */
#filme img {
    width: 100%;       /* Largura total do quadrado */
    height: 100%;      /* Altura total do quadrado */
    border-radius: 5px; /* Arredonda as pontas da imagem também */
    object-fit: cover; /* Isso faz a imagem preencher o espaço sem ficar esticada feio */
}
